#header{
    background: gray;
    height: 100px;
    width: 1000px;
    /* margin 은 4 방향으로 적용되기 때문에 아래처럼 작성 가능
    위 우측 아래 좌측 순서*/
    margin: 0px auto 20px auto; 
}

#nav{
    height: 40px;
    border: 2px solid #efefef;  /* 테두리 만드는거 */
    /*border-top: 1px solid #efefef; */
    
    /*background: wheat;
    width: 1000px;*/
    margin: 0px auto 20px auto;
    z-index: 200; /* depth 값을 설정 */
    position: relative;  /* 위치가 연동됨 */
}

.nav_inner{
    width: 1000px;
    margin: 0 auto;
    /*background: cornsilk;*/
}

#footer{
    height: 100px;
    background-color: gray;
    width: 1000px;
    margin: 0px auto 50px auto;
}

#content{
    background-color: gray;
    width: 1000px;
    margin: 2px auto 20px auto;
    height: 600px;
}

.body{
    width: 1000px;
    margin: auto;
}

.section_main{
    width: 700px;
    background-color: yellow;
    float: left;
}

.aside{
    width: 300px;
    background-color: red;
    float: left;
    height: 600px;
}

.section{
    background-color: pink;
    height: 300px;

}

.article{
    background-color: green;
    height: 300px;
}

/* float 을 하면 다음 엘리먼트에 영향을 미치고 박스의 높이를 
정확히 인식 못하는 문제때문에 clearfix 사용해줌 */
.clearfix{
    overflow: auto;
}

.clearfix::after{
    clear: both;
    display: block;
    content: "";
}

.ul{
    list-style: none;
    padding-left: 0px;
}

.navigation_list{
    float: left;
    width: 142px;
    line-height: 0px;  /* 텍스트를 상하로 가운데 정렬하는 속성 */
    text-align: center;
}

.navigation_link{
    font: bold 16px "malgin gothic";
    height: 50px;
    margin: 0 auto;
    color: green;
}

.sub_menu{
    width: 130px;
    height: 50px;
    background: #ff0;
    position: absolute;
    top: 35px;
    left: -2px;
    display: none;
}


.navigation_list:hover .sub_menu{
    display: block;
}

